<configuration>

    <!-- 定义根日志路径 -->
    <property name="LOG_PATH" value="/logs"/>

    <!-- 日志输出的格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- FileAppender 配置 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/application.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志级别和日志输出目标 -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>