<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example01.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.example01.entity.Permission">
            <id property="permissionId" column="permission_id" jdbcType="INTEGER"/>
            <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        permission_id,permission_name,url
    </sql>
</mapper>
