<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example01.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.example01.entity.RolePermission">
            <id property="rolePermissionId" column="role_permission_id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_permission_id,role_id,permission_id
    </sql>
</mapper>
